body {
    position: relative;
}

#main {
    text-align: center;
    padding-top: 30px;
}

table {
    margin: auto;
}

#message {
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #009900;
    color: #FFFFFF;
    display: inline;
    padding: 10px 0;
    display: none;
}

.disabled {
    color: #CCCCCC;
}

.small {
    font-size: 0.6em;
}

.sub {
    background-color: #EEEEFF;
}
