body {
    position: relative;
}

#main {
    text-align: center;
    padding-top: 30px;
    position: relative;
}

table {
    margin: auto;
}

#message {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #009900;
    color: #FFFFFF;
    display: inline;
    padding: 10px 0;
    display: none;
    z-index: 101;
    top: 0;
    left: 0;
}

.disabled {
    color: #CCCCCC;
}

.small {
    font-size: 0.6em;
}

.sub {
    background-color: #EEEEFF;
}

.tab {
    height: 26px;
}

#title {
    color: #6666AA;
}

.grey {
    color: #999999;
}

.label_relaive{
    position: relative;
}
